<footer>
<hr>
<p>Website, photos, & content &copy; Sara Cagle 2015</p>
<p><a href="mailto:cagle.sara@gmail.com">Cagle.Sara@gmail.com</a></p>
<p><a href="https://github.com/Sara-Cagle" title="GitHub"><i class="fa fa-github fa-lg"></i></a> 
	<a href="http://www.linkedin.com/in/scagle" title="LinkedIn"><i class="fa fa-linkedin-square fa-lg"></i></a> 
	| WeChat: scagle
</p>
<p>Banner is a painting of a creature called a <a href="https://en.wikipedia.org/wiki/Qilin" title="Wiki of qilin">qilin</a>, photo taken at a Confucian temple in Quzhou, Zhejiang, China.
</footer>
