<h1>About</h1>
<div class="boxOfText">
<p>I'm a 4th year computer science and Mandarin Chinese language and culture double major at Georgia Tech, graduating in December 2016. My interests vary from UI/UX and web development to databases, and network security. My Georgia Tech CS threads include People (HCI) and Info-Internetworks.</p>
<p>I speak Mandarin Chinese and can read/write simplified characters. I have a strong intertest in cross-cultural communication, knowledge, and development.</p>
</div>

<div class="groupedText">
<p><b>Why computer science?</b>
	I love the Internet. Since I was young, I have been in awe with the Internet's endless faucet of information and ease of retreival. As a user, I've experienced design first hand and que
	As a user, watching website trends overtime left me questioning a lot of design choices. As a developer, I'd like to address these design choices and how to incorporate them better across web and mobile development.<br />

	tl;dr: I love the Internet and want to share that love by improving user experience on the web.
</p>
</div>

<div class="groupedText">
<p><b>Why Chinese?</b>
	I began studying Mandarin in 2008 and quickly fell in love with the language, the culture, the people, and the sheer ability of technology to cater to a population of 1.4 billion people and growing.<br />
	I can read, speak, and write (simplified characters), and have spent multiple times abroad: most recently, a year directly enrolled in Beijing's prestigious Peking University as a Chinese as a Second Language student.
	My experiences have shown me that no matter how well you understand something, you probably don't understand it completely, because you do not view it through the eyes of someone else's culture. <br />

	<div class="boxOfText">
	<b>Thoughts on Chinese Culture</b><br />
	Chinese and American cultures are extremely different, and that's wonderful! The key is being able to understand which differences stem from cultural differences versus which differences stem simply from communication. During my time in China, I've encountered and learned from a number of scenarios trying to navigate the cultural divide, giving me an insight into how Chinese culture influences everything from daily routines to the way in which apps are developed.<br />
	More so, what my experience has taught me is that no two cultures, and by extension people, are the same, meaning that despite the Internet being a global phenomenon, <i>we are all each experience it diferrently.</i><br />
	I believe the Internet will grow and is growing to accomodate these different global viewpoints, and I want to use my cross-cultural knowledge to help with its development.
	</div>
</p>
</div>

<div class="groupedText">
<p><b>Long Term</b>
	Graduating December 2016, I will be looking for full time positions in the IT/development field. My goal is to either one day work for an American company with Chinese offices and act as a cultural-bridge in product development (perhaps as a project manager); or, I'm also interested in working for a Chinese company looking to expand into the international market with their products, and fulfilling the same role as a cultural-bridge for cross-cultural development.<br />
</p>
</div>
<div class="groupedText">
<p><b>But for now?</b>
	I'm seeking an IT/developer <i>intern position</i> for <i>summer 2016</i> at a globally-focused company--bonus points if there is any relation to China, where I can use my language skills and cultural knowledge!<br />
	My existing skillset is in front-end web-development, but I'm open minded and ready to jump in to whatever project you throw at me!
</p>
</div>
