<h1>Projects</h1>

<div class="groupedText">
<p>
<b>Portfolio</b>
I created this portfolio! A single-page, responsive app using mostly vanilla JavaScript for logic and dynamically creating some CSS; AngularJS for routing, deep linking, and animations; NodeJS, HTML5, and CSS3.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/portfolio" title="Online Portfolio">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
<p>
<b>"Fancy Hotel" Hotel Reservation System</b>
An AngularJS web app for booking and managing hotel reservations with a backend MySQL database. Incorporates use of the Python Flask API to run MySQL queries to the database. This project emphasized query-creation and a specific GUI design to meet project requirements for Georgia Tech's CS 4400 "Intro to Database Systems" course. Completed during the Fall 2015 term.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/cs4400FancyHotel" title="Fancy Hotel Web App">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
<p>
<b>"Sleep Station" App, Union Pacific Hackathon</b>
An AngularJS application wrapped in PhoneGap for use on Android devices, developed for the Union Pacific safety-themed intern hackathon. The app manually tracks the number of hours an employee has slept per night, ultimately determining if the employee is safe, sleep-wise, to operate the next shift. I developed most of the logic for the various screens. Completed during the summer of 2014 with a team of two other IT interns.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/UPHackathon" title="Sleep Station">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
	<p><b>"Cirno Ice Fall" Gameboy Advanced Game</b>
		A Gameboy Advanced game written in C for Georgia Tech's CS 2110 "Computer Organization and Programming" course. Run on a simulator, the objective is to avoid the flying bullets and acheive a high score to end the game. Completed during the Spring 2014 term.
		<div class="buttonHolder"><div class="gitHubButton">
		<a href="https://github.com/Sara-Cagle/CS2110GameboyGame" title="Cirno Ice Fall">View on GitHub</a>
		</div></div>
	</p>
</div>

<div class="groupedText">
<p><b>Financial Management Android App</b>
A financial management app for Android devices, used to manually track your withdraws and deposits on various accounts. I worked on the UI, graphics, and managed the team's sprint cycles. Created for Georgia Tech's CS 2340 "Objects and Design" course during the Spring 2014 term with a team of 4 other CS students.<br />
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/vancan1ty/programmateurs" title="Financial Management App">View on GitHub</a>
</div></div>
</p>
</div>



<div class="groupedText">
<p>
<b>Red-eye Removal Tool</b>
A recursive, Python-based red-eye removal tool developed as a final project for Georgia Tech's CS 1301 "Introduction to Computing using Robots" course. After uploading an image file, the program splits the image into portions, asking the user if the current portion of the image has red-eye, and iteratively works through the image until the user is satisfied with the result. Created during the Fall 2012 term.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/redEyeRemovalPython" title="Python Red-Eye Removal">View on GitHub</a>
</div></div>
</p>
</div>

