<h1>Projects</h1>

<p><b>Financial Management Android App</b><br />
A financial management app for Android devices, used to manually track your withdraws and deposits on various accounts you create and control. Users must be logged in with an account they have created through the app in order to use the services.<br />
Created for Georgia Tech's CS 2340 "Objects and Design" course over the span of the Spring 2014 semester. Team of 4 other students.<br />
**list things i did in the project<br />
<a href="#" title="Financial Management App">View project on GitHub</a>
</p>

<p>
<b>"Fancy Hotel" Hotel Reservation System</b><br />
AngularJS web app for booking and managing hotel reservations with a backend MySQL database. Incorporates use of the Python Flask API to run MySQL queries to the database. This project emphasized query-creation and a specific GUI design to uphold project specifications from the Georgia Tech course CS 4400 "Intro to Database Systems". Completed over the course of the Fall 2015 semester.<br />
<a href="https://github.com/Sara-Cagle/cs4400FancyHotel" title="Fancy Hotel Web App">View project on GitHub</a>
</p>

<p>
<b>"Sleep Station" App, Union Pacific Hackathon</b><br />
An AngularJS application wrapped in PhoneGap for use on Android devices, this app was developed for the Union Pacific safety-themed intern hackathon. The app requires user login to access their information, and tracks the number of hours a worker has slept per night (input manually), ultimately determining if you are safe, sleep-wise, to operate your next shift. Completed during the summer of 2014 with a team of two other IT interns.<br />
<a href="https://github.com/Sara-Cagle/UPHackathon" title="Sleep Station">View project on GitHub</a>
</p>


<p>
<b>Red-eye Removal Tool</b><br />
A recursive Python-based red-eye removal tool I developed for my final project in CS 1301 "Introduction to Computing using Robots" course. After uploading an image file, the program splits the image into portions, asking the user if the current portion of the image has red-eye, and iteratively works through the image until the user is satisfied with the result. Created during the Fall 2012 semester.<br />
<a href="#" title="Python Red-Eye Removal">View project on GitHub</a>
</p>

<p>
<b>Portfolio</b><br />
I created this portfolio!<br />
<a href="https://github.com/Sara-Cagle/portfolio" title="Online Portfolio">View project on GitHub</a>
</p>
