<h1>Projects</h1>

<div class="groupedText">
<p><b>Financial Management Android App</b>
A financial management app for Android devices, used to manually track your withdraws and deposits on various accounts you create and control. Users must be logged in with an account they have created through the app in order to use the services.<br />
Created for Georgia Tech's CS 2340 "Objects and Design" course over the span of the Spring 2014 semester. Team of 4 other students.<br />
**list things i did in the project
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/vancan1ty/programmateurs" title="Financial Management App">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
<p>
<b>"Fancy Hotel" Hotel Reservation System</b>
AngularJS web app for booking and managing hotel reservations with a backend MySQL database. Incorporates use of the Python Flask API to run MySQL queries to the database. This project emphasized query-creation and a specific GUI design to uphold project specifications from the Georgia Tech course CS 4400 "Intro to Database Systems". Completed over the course of the Fall 2015 semester.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/cs4400FancyHotel" title="Fancy Hotel Web App">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
<p>
<b>"Sleep Station" App, Union Pacific Hackathon</b>
An AngularJS application wrapped in PhoneGap for use on Android devices, this app was developed for the Union Pacific safety-themed intern hackathon. The app requires user login to access their information, and tracks the number of hours a worker has slept per night (input manually), ultimately determining if you are safe, sleep-wise, to operate your next shift. Completed during the summer of 2014 with a team of two other IT interns.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/UPHackathon" title="Sleep Station">View on GitHub</a>
</div></div>
</p>
</div>


<div class="groupedText">
<p>
<b>Red-eye Removal Tool</b>
A recursive Python-based red-eye removal tool I developed for my final project in CS 1301 "Introduction to Computing using Robots" course. After uploading an image file, the program splits the image into portions, asking the user if the current portion of the image has red-eye, and iteratively works through the image until the user is satisfied with the result. Created during the Fall 2012 semester.
<div class="buttonHolder"><div class="gitHubButton">
<a href="#" title="Python Red-Eye Removal">View on GitHub</a>
</div></div>
</p>
</div>

<div class="groupedText">
<p>
<b>Portfolio</b>
I created this portfolio! A single-page app using JavaScript, AngularJS, NodeJS, HTML5, and CSS3, written from scratch.
<div class="buttonHolder"><div class="gitHubButton">
<a href="https://github.com/Sara-Cagle/portfolio" title="Online Portfolio">View on GitHub</a>
</div></div>
</p>
</div>