<h1>Experience</h1>



<div class="resumeButton"><a href="#" title="Download PDF">Download Resume</a></div>   <div class="resumeButton"><a href="#" title="下载中文PDF">下载简历</a></div> <!--swap this link to be English version if you're in Chinese?-->



<h2>Education</h2>
<div class="edu groupedText">
<ul>
	<li><b>Georgia Institute of Technology</b> <div class="location">Atlanta, GA, USA</div> 
		<div class="time">August 2012 - December 2016</div>
		<ul>
			<li>BS Computer Science with concentration in UI/UX, HCI, and computer networking</li>
			<li>BS Applied Languages and Intercultural Studies in Mandarin Chinese</li>
		</ul>
	</li>
	<br />
	<li><b>Peking University</b> <div class="location">Beijing, China</div> 
		<div class="time">September 2014 - July 2015</div>
		<ul>
			<li>Chinese as a Second Language Program</li>
		</ul>
	</li>
	<br />
	<li><b><a href="https://en.wikipedia.org/wiki/Hanyu_Shuiping_Kaoshi" title="Wikipedia on HSK">HSK 5 Certified</a></b> 
		<div class="time">May 2015</div>
		<ul>
			<li>HSK (Hanyu Shuiping Kaoshi) is a standardized, international Chinese proficiency exam for non-native Mandarin Chinese speakers. Level 5 tests 2500+ words and characters.</li>
			<!--Original content: HSK (Hanyu Shuiping Kaoshi) is a standardized, international Chinese proficiency exam for non-native Mandarin Chinese speakers. Level 5 is second most advanced (out of 6) and tests 2500+ words and characters.-->
		</ul>
	</li> 
</div>

<br />
<br />
<h2>Career</h2>
<div class="exp groupedText">
<b><a href="http://www.valvora.com/index.html">Valvora</a> (Union Pacific)</b> 
<div class="location">Omaha, Nebraska, USA</div>
<div class="time">May 2014 - August 2014</div><br />
Front-end development intern on Innovation Station. Developed a new, dynamic UI for the internally developed software in order to market the software for third-party clients. Worked on a small, self-guided team with another intern and the two cofounders. Technologies used included: JavaScript, AngularJS, HTML5, CSS3, and Sass. 
</div>

<div class="exp groupedText">
<b><a href="http://www.clinimmune.com/">ClinImmune Labs</a>, University of Colorado</b> 
<div class="location">Aurora, Colorado, USA</div> 
<div class="time">May 2013 - July 2013</div><br />
Software development intern and Linux system admin. Worked alongside a mentor to begin front-end development of an HLA epitope analysis program, used to analyze and edit large volumes of patient data via CSV files. Work involved communicating directly with clinical research lab professionals to determine their needs for the program. Also spent time installing NGINX test servers for the software and explored new technologies. Technologies used included: JavaScript, AngularJS, NGINX, Python, MongoDB, Django.
</div>

<div class="exp groupedText">
<b>Private English Tutor</b> 
<div class="location">Beijing, China</div> 
<div class="time">September 2014 - July 2015</div><br />
Conducted in-home lessons for one-on-one and small groups of Chinese students multiple times a week. Lessons often focused on spoken-English and its relation to American culture and day-to-day life. I also aided in test-prep (ACT, SAT, PET, and TOEFL) as well as in applying to private American high schools.
</div>

<div class="exp groupedText">
<b><a href="http://awa-con.com/">Anime Weekend Atlanta</a></b> 
<div class="location">Atlanta, Georgia, USA</div>
<div class="time"> 2012, 2013</div><br />
Convention operations volunteer. Worked on a large team of volunteers. Tasks included crowd management, interacting with convention attendees, and event preperation.
</div>

<div class="exp groupedText">
<b><a href="http://animelandwasabi.com/">Animeland Wasabi<a/></b> 
<div class="location">Aurora, Colorado, USA</div> 
<div class="time">2012, 2013</div><br />
Assistant director of volunteers. Coordinated and recruited volunteers up-to and during the three-day event, ensuring all work stations were covered and volunteers had break time. 
</div>




<!--Stuff down here is potentially things that could go here, but I think it's best not to extend this page any further. The rest is just copy-past off the resume, anyways.-->
<!--div class="skills">
<h2>Skills</h2>
Software
• Adobe Dreamweaver, Adobe Photoshop, Microsoft Office, Eclipse 
Programming Languages
• Javascript, HTML5, CSS3, Java, Python, MySQL, C, XML 
Frameworks
• AngularJS, NGINX, MongoDB, Django 
Foreign Languages
• Mandarin Chinese (advanced, professional working proficiency), English (native)
</div-->



<!--div class="international">
<h2>International Experience</h2>
Chinese as a Second Language Program, Beijing, China Sept 2014-July 2015 • Chinese Government Scholarship recipient; directly applied and received a full ride to Peking University. Completed advanced Chinese language and culturally
focused courses taught in Mandarin Chinese at Peking University.
HSK 5 Certified May 2015
• HSK (Hanyu Shuiping Kaoshi) a standardized, international Chinese proficiency exam for non-native Mandarin Chinese speakers. Level 5 is second most advanced (out of 6) and tests 2500+ words and characters.
</div-->
