<h1>Resume view!</h1>

<a href="#">Download</a> | <a href="#">Chinese Version</a> <!--swap this link to be English version if you're in Chinese-->

<div class="objective">
<h2>Objective</h2>
Obtain a computer science/IT internship or full time position in China, in an English or Mandarin Chinese-based office.
</div>

<div class="edu">
<h2>Education</h2>
Georgia Institute of Technology, Atlanta, GA, USA
• BS Computer Science
o Threads: People & Information Internetworks
• BS Applied Languages and Intercultural Studies
o Mandarin Chinese Peking University, Beijing, China
• Chinese as a Second Language program
Aug 2012 – Dec 2016
GPA: 3.44/4.0
Sept 2014 – July 2015
</div>

<div class="skills">
<h2>Skills</h2>
Software
• Adobe Dreamweaver, Adobe Photoshop, Microsoft Office, Eclipse Programming Languages
• Javascript, HTML5, CSS3, Java, Python, C, XML Frameworks
• AngularJS, NGINX, MongoDB, Django Foreign Languages
• Mandarin Chinese (advanced, professional working proficiency), English (native)
</div>

<div class="exp">
<h2>Experience</h2>
Private English Tutor, Beijing, China Sept 2014-July 2015 • Conducted in-home lessons for Chinese students multiple times a week. Focused on spoken-English and American culture; basic test-prep for ACT, SAT, PET, and
TOEFL. Aided students in applying to private American high schools.
Valvora (Union Pacific), Omaha, NE, USA May 2014-Aug 2014
UI/UX development intern
• Developed a dynamic UI for internally developed software in order to market the
software to third-party companies. Worked in a small, self-guided team. • Used: AngularJS, Javascript, JSON, HTML5, CSS3, Sass.
ClinImmune Labs, Aurora, CO, USA May 2013-July 2013 Linux system admin, software development intern
• Began front-end development of the HLA Epitope Analysis Program for
analyzing large volumes of patient data via CSV files. Installed and maintained
NGINX test servers for the software.
• Used: AngularJS, Javascript, NGINX, Python, MongoDB, Django.
</div>


<div class="international">
<h2>International Experience</h2>
Chinese as a Second Language Program, Beijing, China Sept 2014-July 2015 • Chinese Government Scholarship recipient; directly applied and received a full ride to Peking University. Completed advanced Chinese language and culturally
focused courses taught in Mandarin Chinese at Peking University.
HSK 5 Certified May 2015
• HSK (Hanyu Shuiping Kaoshi) a standardized, international Chinese proficiency exam for non-native Mandarin Chinese speakers. Level 5 is second most advanced (out of 6) and tests 2500+ words and characters.
</div>
