<h1>About</h1>

<p>I'm a 4th year computer science and Mandarin Chinese language and culture double major at Georgia Tech. I will be graduating in December 2016</p>
<p>My interests lie in UI/UX, web development, databases, and network security. My Georgia Tech CS threads include People and Info-Internetworks.</p>
<p>I speak Mandarin Chinese and can read/write simplified characters (What they use on the Mainland.) I have a strong intertest in cross-cultural communication, knowledge, and development.</p>

<p><b>Why computer science?</b><br />
	Growing up with the Internet, I was enamoured with the ability to share your own information with the world. The thought of running my own website and contributing to the database of knowledge that is the Internet was a huge motivator in my love for computers.<br />
	As a user, watching website trends overtime left me questioning a lot of design choices. As a developer, I'd like to address these design choices and how to incorporate them better across web and mobile development.<br />

	tl;dr: I love the Internet and want to share that love by improving user experience on the web.
</p>

<p><b>Why Chinese?</b><br />
	I began studying Mandarin Chinese in high school because I was required to pick a foreign language and Mandarin sounded "the least boring" at the time. However, looking back, my 14-year-old self had no clue what she was getting into.<br />
	Along the way, I fell in love with the language, the culture, the people--and the sheer ability of technology to cater to a population of 1.4 billion people and rising.<br />
	I've studied Mandarin Chinese since 2008, learning how to read and write in simplified characters. I've spent multiple times abroad, most recently, a year directly enrolled in Beijing's prestigious Peking University.<br />
	My experience with Chinese nationals has shown me that no matter how well you understand something, you don't actually know it 100%, because you do not view it through the eyes of someone else's culture. <br />

	<b>Thoughts on Chinese Culture</b><br />
	Chinese culture is extremely different than American culture, and that's wonderful! The key is being able to understand what differences exist due to culture versus differences due to simply communicating with another person who isn't yourself. During my time in China, I've encountered and learned from a number of scenarios trying to navigate the cultural divide, giving me an insight into how Chinese culture influences everything from daily routines to the way in which apps are developed.<br />
	More so, what my experience has taught me is that no two cultures are the same and no two people are the same, meaning that despite the Internet being a global phenomenon, we are all each experience it diferrently.<br />
	I believe the Internet will grow and is growing to accomodate these different global viewpoints, and I want to use my cross-cultural knowledge to help with its development
</p>

<p><b>Long Term</b><br />
	Graduating December 2016, I will be looking for full time positions in the IT/development field. My goal is to either one day work for an American company with Chinese offices and act as a cultural-bridge in product development (perhaps as a project manager); or, I'm also interested in working for a Chinese company looking to expand into the international market with their products, and fulfilling the same role as a cultural-bridge for cross-cultural development.<br />
</p>
<p><b>But for now?</b><br />
	I'm seeking an IT/developer <b>intern position</b> for <b>summer 2016</b> at a globally-focused company--bonus points if there is any relation to China, where I can use my language skills and cultural knowledge!<br />
	My existing skillset is in front-end web-development, but I'm open minded and ready to jump in to whatever project you throw at me!
</p>

